Restaurant-Booking-Voice-Agent/Restaurant-Booking-Voice-Agent/Restaurant Reservation Agent (1).json
{
  "name": "Restaurant Reservation Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "restaurant-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1040,
        208
      ],
      "id": "2b6fd26d-cb95-4523-81ae-ae6d8b9df522",
      "name": "Webhook",
      "webhookId": "restaurant-booking-webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.usermessage }}",
        "options": {
          "systemMessage": "=You are Restaurantia – an AI assistant for a restaurant.  \nYour job is to help customers make table reservations.\n\nCustomer details for this session:\n- Name: {{ $json.customerName }}\n- Phone: {{ $json.CustomerPhone }}\n- Service: table booking\n- Message: {{ $json.userMessage }}\n\nWhen saving chat history to memory:\n- Replace “human” with the customer’s full name.\n- Replace “ai” with “Restaurantia”.\n- Include the customer's phone number, message, and service type as context for every memory entry.\n- Example memory format:\n  {\n    \"John Smith (+491234567890, table booking)\": \"I want to book a table for 2 tomorrow at 7pm\",\n    \"Restaurantia\": \"Sure, your table for 2 is booked for tomorrow at 7pm.\"\n  }\n\nYour capabilities:\n- You can create reservations in Google Calendar using the connected CalendarTool.\n- You need: customer name, phone number, date, time, and number of guests.\n- Default reservation duration is 2 hours.\n\nConversation guidelines:\n1. Greet warmly and confirm all customer details.\n2. Collect: name, phone, date, time, number of guests (if missing).\n3. Confirm details before booking.\n4. Once confirmed, create the event in Google Calendar.\n\nWhen creating the calendar event:\n- Summary: \"Table for [number] - [Name]\"\n- Description: include name, phone, and special requests.\n- Start time: requested date/time in ISO format with timezone.\n- End time: 2 hours after start time.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -288,
        192
      ],
      "id": "0af72706-ed81-43b4-9571-203a822bf3c8",
      "name": "AI Reservation Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -464,
        464
      ],
      "id": "9ee0cb27-1ad4-4050-ad38-703f8c0fc219",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4tu8lpQ2h9cvKMm7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e7e9482-4382-43df-8768-67aa6ca31b8f",
              "name": "=usermessage",
              "value": "={{ $json.body.usermessage }}",
              "type": "string"
            },
            {
              "id": "00d2e76b-eb26-4c7b-88fa-aad549566479",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "fcaee22e-c61b-4e60-ba5c-c943136cf470",
              "name": "customerName",
              "value": "={{ $json.body.customerName }}",
              "type": "string"
            },
            {
              "id": "aff2d252-3f54-4a2a-a8dc-3af281990105",
              "name": "CustomerPhone",
              "value": "={{ $json.body.customerPhone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        208
      ],
      "id": "edc941b0-fe65-454f-ab67-11f45ecf94e1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "test_session_123"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        416
      ],
      "id": "44616712-3f10-4ec4-9179-0535289267be",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "=sarvesh.seetaram@code.berlin\n",
          "mode": "id"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -32,
        448
      ],
      "id": "2d0ce4c8-a463-495a-88d7-c4fb32255830",
      "name": "CalenderTool",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ll4eMikxQgj1U5rb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        64,
        192
      ],
      "id": "7dd46f3b-83c6-4288-b14e-02e1ffef3d21",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Reservation Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Reservation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Reservation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Reservation Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "CalenderTool": {
      "ai_tool": [
        [
          {
            "node": "AI Reservation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8bef5a4e-0ed7-4d74-85f6-0e3d56318529",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17b92c7e6f8889e134f3b575d4472c9db6a5f64cc55d63c2d130a52c2d72ec99"
  },
  "id": "wgc2nUuxWNekLzzX",
  "tags": []
}